/*custom.css*/
body{background:#ECF0F5;}
.dropdown:hover .dropdown-menu {    display: block;    margin-top: 0;  }
.img-balloon1{background-image:url("../img/bg-img/2.jpg");}
.cls-header.cls-header-lg{background:rgba(255,255,255,0.1)}
.cls-content .cls-content-sm.panel,
.cls-content .cls-content-lg.panel{
	background:rgba(255,255,255,0.9);
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="file"],
input[type="number"]
{border:0;border-bottom:1px solid #DDD;background:transparent;width:100%}
.date .input-group-addon{border:0;border-bottom:1px solid #DDD;background:transparent;}
input[type="file"]{padding:4px 0 5px; 
 -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border: 1px dashed #BBB; 
   text-align: center;
   background-color: #EEE;
   cursor:pointer;	
}
.form-group .control-label{font-weight:bold;letter-spacing:1px;}
h3.h3{ font-size:120%;color:#3983C1}
	h3.h5 span{ background:#3C99E4;color:#fff;padding:2px 4px;}
	h3.h5 {border-top:2px solid #3C99E4;padding-top:2px;}
	
.field-group{border:1px solid #ddd;max-width:80%;margin:0 0 0 13%;}
h3.h6{color:#444;padding:2px 4px;text-transform:uppercase;margin-top:-7px;background:#ddd;}

.mainnav-profile .profile-wrap,
.mainnav-widget,
.panel{margin:0 0 10px 0;background:white;
	border: 1px solid #E5E5E5;
}
.mainnav-widget .menu-title{padding:5px;}

.mainnav-profile .profile-wrap p,
.mainnav-profile .profile-wrap span
 {color: #444}
#mainnav {  background-color:#ECF0F5;}
#mainnav-menu li { border-bottom:1px solid #E5E5E5;list-style:none; }
#mainnav-menu li.list-header { background:#FAFAFA}
#mainnav-menu a {  display: block;  color: #444;font-weight:bold;font-size:11px;padding:6px 6px 6px 16px}
#mainnav-menu img{width:20px;display:inline-block;}
#mainnav-menu li:hover,
#mainnav-menu li.active-link,
#mainnav-menu li.active-link:hover {  background: #F7F7F7;}
#mainnav-menu a:hover,
#mainnav-menu li.active-link > a,
#mainnav-menu li.active-link > a:hover {  color:#3D99E4}

.breadcrumb > li.home:before {
  content: "\f015";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;padding:0 5px;
}
.breadcrumb li a:hover{color:#444}
.navbar-top-links .head-list li a {
  display: block;
  padding: 10px;
}
.nav-tabs li {margin:0 5px 0 0 ;}
.nav-tabs li.active {border-top:2px solid #42A5F5;border-left:1px solid #ddd; border-right:1px solid #ddd;border-radius:0}
.modal-dialog{border:2px solid #ECF0F5;}
.modal-header{background: white;}
.modal-title{text-align:center}

.table tr th{background:#F4F4F4;}